@font-face {
  font-family: hellix;
  src: url('font/hellix/HellixTRIAL-Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: hellix;
  src: url('font/hellix/HellixTRIAL-RegularItalic.otf') format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: hellix;
  src: url('font/hellix/HellixTRIAL-Medium.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: hellix;
  src: url('font/hellix/HellixTRIAL-MediumItalic.otf') format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: hellix;
  src: url('font/hellix/HellixTRIAL-Bold.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: hellix;
  src: url('font/hellix/HellixTRIAL-BoldItalic.otf') format("opentype");
  font-weight: 700;
  font-style: italic;
}
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background: #fdfdfd;
  font-family: hellix, input-mono, monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2em;
  color: #0e0e0e;
}
.page-wrapper {
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.logo {
  width: 65vw;
  min-width: 500px;
  max-width: 1200px;
}
.page-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 32px;
}
.menu-wrapper {
  grid-column: 1 / span 2;
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  justify-content: space-between;
}
.menu-wrapper li {
  text-transform: uppercase;
  font-style: italic;
}
.menu-wrapper li a {
  text-decoration: none;
  color: inherit;
}
.page-content p {
  grid-column: auto / span 1;
  margin: 0;
}
